@import "mixin.scss";
@import "variables.scss";
@import "animation.scss";
/*--------------------------------------------------DEBUT HEADER*/
header{
    @include header-desktop;
}
/*--------------------------------------------------FIN HEADER*/
/*--------------------------------------------------DEBUT MAIN*/
.img_restaurant{
    aspect-ratio: 4/1;
    margin-bottom: -1%;
}
.menu{
    &_section{
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.subtilte{
    font-size: 2rem;
    &_like{
        font-size: 2em;

    }
}
.card-menu{
    &_starter{
        width: 100%;
        padding: 1em;
        @include card-menu-margin-desktop;
    }
    &_dish{
        width: 100%;
        padding: 1em;
        @include card-menu-margin-desktop;
    }
    &_dessert{
        width: 100%;
        padding: 1em;
        @include card-menu-margin-desktop;
    }    
    &_category{
        font-size: 1.5rem;
        margin-left: 10%;
        &::after{
            width: 5%;
            height: 7px;
            bottom: -0.5em;
        }
    }
    &_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_frame{
        width: 65%;
    }  
    &_description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_check{
        font-size: 2rem;
    }
}
.entitled{
    &_1{
        font-size: 1.5rem;
    }
    &_2{
        font-size: 1.5rem;
    }
    &_3{       
        font-size: 1.5rem;
    }
}
.button{
    @include button-desktop;
}
/*--------------------------------------------------FIN MAIN*/
/*--------------------------------------------------DEBUT FOOTER*/
.footer{

    @include footer-desktop;

}
/*--------------------------------------------------FIN FOOTER*/