$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-primary-clearer: #9d68df;
$color-primary-clearer-than-clearer: #9256dc2f;
$color-secondary-clearer: #fc89db;
$color-tertiary-clearer: #a6f3e0;


$background-color-darker-than-darker: #dddddd;
$background-color-darker: #eeeeee;
$background-color-clearer: #ffffff;

$footer-background-color: #3d3d3d;

$font-color-darker: #000000;
$font-color-medium: #808080;
$font-color-clearer: #ffffff;

$box-shadow-clearer: 10px 10px 20px 0px #cdcdcd; 
$box-shadow-darker: 10px 10px 20px 5px #5e5e5e;