/*********************************************COULEUR**********************************************/

$primaire: #9356DC;
$primaire-claire: #b656dc;

$secondaire: #FF79DA;
$secondaire-claire: #ff79b1;

$tertiaire: #99E2D0;
$tertiaire-sombre: #258a71;

$couleur-background: #f5f5f5;
$couleur-background-sombre: #e7e6e6;

$couleur-box-shadow: 5px 5px 20px 0px rgb(201 199 199);
$couleur-box-shadow-sombre: 5px 5px 20px 5px rgb(112 112 112);

$couleur-lien: #000000;

$couleur-article-menu: #ffffff;

$couleur-police-btn: #ffffff;

$couleur-footer: #313131;
$couleur-police-footer: #ffffff;

$couleur-fonctionnement-icones: #8f8f8f;
$couleur-article-acceuille: rgb(245, 237, 255);
/**************************************************************************************************/


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.loader{

    position: absolute;
    background: linear-gradient($secondaire,$primaire);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: disparition 3s both;
    .lettre{
        font-size: 6em;
        font-weight: bold;
        color: $couleur-police-btn;
        letter-spacing: 50px;
        animation: chargement 1.5s linear infinite;
    }
}

a{
    text-decoration: none;
}

.header{

    text-align: center;
    padding: 2%;

    &_acceuille{
        box-shadow: $couleur-box-shadow;
        position: relative;
        z-index: 1;
    }

    &_menu{        
        background-color: $couleur-background;
        position: sticky;
        top: 0%;
        z-index: 1;
    }    
}
.fa-arrow-left-long{
    font-size: 5em;
    float: left;
    line-height: 125%;
    margin: 0 0 0 3%;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 4em;
    margin: 0;
}


.section{

    &_acceuille{

        padding: 12% 5%;

        &_reservation{
            
            background-color: $couleur-background;
            text-align: center;
            padding: 15% 0%;
        }
        &_fonctionnement{
            justify-content: center;
        }
        &_restaurant{
            background-color: $couleur-background;
        }
    }

    &_menu{

    background-color: $couleur-background;
    border-radius: 12%/4%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2% 4% 5% 4%;
    margin-top: -18%;
    position: relative;
    }
}

.titre-h2{

    margin: 0%;

    &_acceuille{
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 5%;
    }

    &_menu{
    font-family: 'Shrikhand', cursive;
    }
}
.lien{

    color: black;

    :hover{
        color: $primaire;
    }
    &:visited{
        color: #000000;
    }
}

.article{
    
    box-shadow: $couleur-box-shadow;
    border-radius: 6%/30%;
    padding: 7%;
    margin: 5%;
    background-color: $couleur-background;

    &_acceuille{

        font-size: 3em;
        

        &:hover{
            background-color: $couleur-article-acceuille;  
            box-shadow: $couleur-box-shadow-sombre;
        }
        &_carte-restaurant{

            margin: 5% 0;
            border-radius: 5%/7%;
            padding: 0;

            &_nouveau{
                &::before{
                    content: "Nouveau";
                    position: absolute;
                    background-color: $tertiaire;
                    color: $tertiaire-sombre;
                    padding: 1% 3%;
                    margin: 2%;
                    font-size: 2.5em;
                    font-weight: bold;
                    border-radius: 5px;
                    right: 5%;
                }

            }
            
                       
        } 
    }

    &_menu{
        text-align: start;
        background-color: $couleur-article-menu;
        border-radius: 5% / 20%;
        margin: 3% 0 3% 0;
        padding: 3%;
        font-size: 2.5em;
        
        &--1{
            animation: apparition 1s both;            
        }
        &--2{
            animation: apparition 1s both;
            animation-delay: 1s;            
        }
        &--3{
            animation: apparition 1s both;
            animation-delay: 2s;            
        }
        
    }
    
}
.paragraphe{
   
    margin: 1% 0 1% 0;

    &_acceuille{

        &_localisation{

            aspect-ratio: 6/1;
            display: flex;
            background-color: $couleur-background-sombre;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin: 0;
            font-size: 2.8em;
        }
        &_reservation{

        font-size: 2.5em;
        }
        &_fonctionnement{

            font-weight: bold;
            
            &::before{
                content: counter(count);
                counter-increment: count;
                position: absolute;
                font-size: 0.7em;
                background-color: $primaire;
                color: $couleur-police-btn;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 7%;
            }
        }
        &_lieu-restaurants{
            margin: 0;
        }
    }

    &_menu{
        &_plat{

        font-weight: bold;
        }
        &_prix{

            font-weight: bold;
        }
    }


    
    
    
    
}
.btn {
    color: $couleur-police-btn;
    background: linear-gradient($secondaire,$primaire);
    text-align: center;
    
    box-shadow: $couleur-box-shadow;
    
    &_acceuille{

        font-size: 2.5em;
        margin: 7% auto 0 auto;       
        padding: 4% 4%;
        width: 50%;
        border-radius: 10% / 50%;
    }
    &_menu{
        
        font-size: 3em;
        margin: 10% auto 20% auto;
        padding: 4% 7%;
        width: 40%;
        border-radius: 15% / 50%;
    }
    &:hover{
        background: linear-gradient($secondaire-claire,$primaire-claire);
        box-shadow: $couleur-box-shadow-sombre;
        transition: 0.5s;
    }
}

.img-restaurant{

    object-fit: cover;
    width: 100%;

    &_acceuille{
        aspect-ratio: 5/3;
        border-radius: 5%/7%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
    }

    &_menu{        
        aspect-ratio: 4/3;
    }
}

.description-restaurant{

    font-size: 2em;
    padding: 3% 4%;
}

.nom-restaurant{
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    margin-top: 10%;
    align-items: center;
}
.fa-heart{

    right: 10%;
    padding: 3%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 1.5em;
    margin-right: 5%;

    &_regular{
        &_acceuille{
            float: right;
            transform: translate(0%, -50%);
        }
        &:hover{            
            background: linear-gradient($secondaire,$primaire);
            color: $couleur-police-btn;
            transition: 1s;
        }
    }
}
.menu{
    margin: 0 0 10% 0;
}

.titre-h3{

    &_acceuille{
        margin: 0;
    }
    
    &_menu{
        
        position: relative;
        margin: 7% 0 7% 0;
        font-size: 2em;
        &::after{
            content: ""; 
            position: absolute; 
            width: 13%; 
            height: 1px; 
            bottom: -1em; 
            left: 0; 
            border-bottom: 0.4em solid $tertiaire; 

        }
    }
}


.box-menu{
    display: flex;
    justify-content: space-between;
}


footer {
    
    background-color: $couleur-footer;
    padding: 7% 0 7% 7%;
    aspect-ratio: 7/3;
    font-size: 3em;
    
    h4{
        margin: 0 0 5% 0;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        color: $couleur-police-footer;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            margin: 2% 0 2% 0;
            color: $couleur-police-footer;
            &:hover{
                color: $primaire;
            }
        }
    }
}

/*ANIMATION*/

@keyframes apparition {

    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes chargement {
    0% {
        text-shadow: 100px 100px 10px $primaire;
    }
    90% {
        text-shadow: none;
    }
    100% {
        text-shadow: 100px 100px 10px $primaire;
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

@keyframes disparition {

    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
        height: 100%;
    }
    100%{
        opacity: 0;
        height: 0%;
    }
}