/*********************************************COULEUR**********************************************/

$primaire: #9356DC;
$primaire-claire: #b656dc;

$secondaire: #FF79DA;
$secondaire-claire: #ff79b1;

$tertiaire: #99E2D0;
$tertiaire-sombre: #258a71;

$couleur-background: #f5f5f5;
$couleur-background-sombre: #e7e6e6;

$couleur-box-shadow: 5px 5px 20px 0px rgb(201 199 199);
$couleur-box-shadow-sombre: 5px 5px 20px 5px rgb(112 112 112);

$couleur-lien: #000000;

$couleur-article-menu: #ffffff;

$couleur-police-btn: #ffffff;

$couleur-footer: #313131;
$couleur-police-footer: #ffffff;

$couleur-fonctionnement-icones: #8f8f8f;
$couleur-article-acceuille: rgb(245, 237, 255);
/**************************************************************************************************/

.loader{
    .lettre{
        font-size: 2em;
    }
}
.header{
    padding: 1% 2%;

    &_acceuille{
        box-shadow: none;
    }   
}
h1{
    font-size: 3em;
}
.paragraphe{

    &_acceuille{

        &_localisation{

            aspect-ratio: unset;
            padding: 1% 2%;
            background-color: $couleur-background-sombre;
            font-size: 2em;
        }
        
        &_reservation{

            font-size: 2em;
        }
        &_fonctionnement{            
            &::before{
                content: "";
                width: 0;
                height: 0;
            }
        }
    }   
}
.desktop-flex{
    display: flex;
}
.section{

    &_acceuille{

        padding: 5% 5%;

        &_reservation{
            width: 50%;            
        }
        
        &_fonctionnement{
            width: 50%;
            text-align: center;
        }
    }
}
.titre-h2{

    &_acceuille{

        font-size: 2em;
        &_desktop{
            margin: 0% 0% 10% 0%;
        }
    }
}
.btn {
    color: $couleur-police-btn;
    background: linear-gradient($secondaire,$primaire);
    text-align: center;
    
    box-shadow: $couleur-box-shadow;
    
    &_acceuille{

        font-size: 2em;
        margin: 15% auto 0 auto; 
        width: 75%;
    }
}
.article{
    
    box-shadow: $couleur-box-shadow;
    border-radius: 6%/30%;
    padding: 7%;
    margin: 5%;
    background-color: $couleur-background;

    &_acceuille{

        font-size: 2em;
        padding: 3%;
        
        &_carte-restaurant{  
            
            width: 50%;
            padding: 0%;
            margin: 1%;
            border-radius: 5%/7%;
            &_nouveau-1{
                &::before{
                    font-size: 1.5em;
                    right: 50%;
                }

            }
            &_nouveau-2{
                &::before{
                    font-size: 1.5em;
                }

            }
        } 
    }    
}
.description-restaurant{

    font-size: 1.5em;
    padding: 3% 4%;
}
footer {
    padding: 3% 0 3% 7%;
    aspect-ratio: unset;
    font-size: 2em;
    
    h4{
        margin: 0 0 2% 0;
    }
    ul{
        li{
            margin: 0% 0 0% 0;
        }
    }
}