$primaire: #9356DC;
$primaire-claire: #b656dc;

$secondaire: #FF79DA;
$secondaire-claire: #ff79b1;

$tertiaire: #99E2D0;

$couleur-background: #f5f5f5;

$couleur-box-shadow: 1px 5px 35px #00000075;
$couleur-box-shadow-sombre: 1px 5px 45px #000000;

$couleur-lien: #000000;

$couleur-article-menu: #ffffff;

$couleur-police-btn: #ffffff;

$couleur-footer: #313131;
$couleur-police-footer: #ffffff;


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: $couleur-lien;
    &:hover{
        color: $primaire;
        
    }
}


p{
    margin: 1% 0 1% 0;
}


header{
    text-align: center;
    background-color: $couleur-background;
    padding: 2%;
    .fa-arrow-left-long{
        font-size: 5em;
        float: left;
        line-height: 125%;
        margin: 0 0 0 3%;
    }    
    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 4em;
        margin: 0;
    }
}


.img-restaurant{
    object-fit: cover;
    aspect-ratio: 4/3;
    width: 100%;
}


section{
    background-color: $couleur-background;
    border-radius: 12%/4%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2% 4% 5% 4%;
    margin-top: -18%;
    position: relative;
}
h2{
    font-family: 'Shrikhand', cursive;
    font-size: 4em;
    margin: 0;
}
.nom-restaurant{
    padding: 8% 2% 8% 0;
    display: flex;
    justify-content: space-between;
}
.fa-heart{
    font-size: 6em;
}
.menu{
    margin: 0 0 10% 0;
}

h3{
    position: relative;
    margin: 7% 0 7% 0;
}
h3:after{ 
    content: ""; 
    position: absolute; 
    width: 13%; 
    height: 1px; 
    bottom: -1.2em; 
    left: 0; 
    border-bottom: 0.5em solid $tertiaire; 
}

.article-menu{
    background-color: $couleur-article-menu;
    border-radius: 5% / 20%;
    margin: 3% 0 3% 0;
    padding: 3%;
    box-shadow: $couleur-box-shadow;
    font-size: 2.7em;
    
}
.article-menu-1{
    animation: apparition 1s both;
}
.article-menu-2{
    animation: apparition 1s both;
    animation-delay: .1s;
}
.article-menu-3{
    animation: apparition 1s both;
    animation-delay: .2s;
}
.plat{
    font-weight: bold;
}
.box-menu{
    display: flex;
    justify-content: space-between;
}
.prix{
    font-weight: bold;
}
.btn {

    color: $couleur-police-btn;
    font-size: 3em;
    background: linear-gradient($secondaire,$primaire);
    border-radius: 15% / 50%;
    margin: 10% auto 20% auto;
    padding: 4% 7% 4% 7%;
    text-align: center;
    width: 40%;
    box-shadow: $couleur-box-shadow;
    &:hover{
        background: linear-gradient($secondaire-claire,$primaire-claire);
        box-shadow: $couleur-box-shadow-sombre;
    }
}

footer {
    
    background-color: $couleur-footer;
    padding: 7% 0 7% 7%;
    aspect-ratio: 7/3;
    
    h4{
        margin: 0 0 5% 0;
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
        font-weight: 100;
        color: $couleur-police-footer;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            margin: 2% 0 2% 0;
            font-size: 3em;
            color: $couleur-police-footer;
            &:hover{
                color: $primaire;
            }
        }
    }
}

/*ANIMATION*/

@keyframes apparition {

    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}